<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contractor login</title>
    <link rel="stylesheet" href="../static/Contractor/styles.css">
  </head>
  <body>
    <div class="bg-img">
  <form method="POST" action="#" class="container">
    {% csrf_token %}
    <h1>contractor Information</h1>

  <label for="uname"><b>Name</b></label>
      <input type="text" placeholder="Enter contractor name" name="name" size="50" required>

      <label for="psw"><b>Short Bio</b></label>
        <input class="bio" type="text" placeholder="Enter Bio" name="Bio"  size="50" height="30" required>

        <label for="experience"><b>Experience</b></label>
        <input type="text" placeholder="experience" name="experience" size="50">

        <label for="fees"><b>Fees</b></label>
        <input type="text" placeholder="fees" name="fees" size="50">


    <button type="submit" class="btn">Submit</button>
  </form>
</div>

  </body>
</html>
